<aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
        <!-- Sidebar Menu -->
        <ul class="sidebar-menu" data-widget="tree">
        <li class="header">HEADER</li>
            <!-- Optionally, you can add icons to the links -->
            <li class="<%= index===0 ? 'active' : '' %>"><a href="/"><i class="fa fa-bank"></i> <span>首页</span></a></li>
            <li class="<%= index===1 ? 'active' : '' %>"><a href="/pro"><i class="fa fa-map"></i> <span>商品管理</span></a></li>
            <li class="<%= index===2 ? 'active' : '' %>"><a href="/user"><i class="fa fa-safari"></i> <span>用户管理</span></a></li>
            <li class="<%= index===3 ? 'active' : '' %>"><a href="/staff"><i class="fa fa-archive"></i> <span>员工管理</span></a></li>
            <!-- <li class="<%= index===4 ? 'active' : '' %>"><a href="/banner"><i class="fa fa-arrows"></i> <span>banner管理</span></a></li>
            <li class="<%= index===5 ? 'active' : '' %>"><a href="/cart"><i class="fa fa-bicycle"></i> <span>购物车管理</span></a></li> -->
        </ul>
        <!-- /.sidebar-menu -->
    </section>
    <!-- /.sidebar -->
</aside>